.aso {
    background-color: rgb(159, 125, 238);
}

.marques {
    background-color: rgb(255, 217, 101);
}

.progra {
    background-color: rgb(193, 226, 231);
}

.bbdd {
    background-color: rgba(255, 226, 141, 0.788);
}

.iso {
    background-color: rgb(98, 155, 255);
}

.tutoria {
    background-color: rgba(201, 218, 248);
}

.fm {
    background-color: rgba(201, 218, 248);
}

.ipo2 {
    background-color: rgba(201, 218, 248);
}

.ipo1 {
    background-color: rgba(201, 218, 248);
}

.sx {
    background-color: rgba(201, 218, 248);
}